{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header class="page-header">

</header>

<main id="page-container" role="main">

  <h1 class="form-title heading-medium">
      Fitness 2 Drive &raquo; Prototypes
  </h1> 

  <h2>Please choose from your list of options below:</h2>

  <form id="medical-form" class="form">

  	<div>
  		<li><a href="./notify/landing.html">Run &raquo; Notify the DVLA of a medical condition</a></li>
  		<li><a href="./renew/page-1.html">Run &raquo; Renew a driving licence following a medical condition</a></li>
  		<li><a href="./surrender/page-1.html">Run &raquo; Surrender your driving licence to the DVLA</a></li>
  	</div>

  </form>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}
