{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header>

<script>

</script>

</header>

<main id="page-container" role="main">

<div class="grid-row">

  <div class="column-full">

    <h1 class="heading-large">
      Declaration of Surrender for Medical Reasons
    </h1>
         
    <p>There’s no legal age at which you must stop driving. You can decide when to stop, but medical conditions can affect your driving and might mean you have to give up your driving licence until you can meet the medical standards of fitness to drive again.</p>

    <p>When you decide to stop driving or are advised by your doctor to stop, you’ll need to tell DVLA and send your licence.</p>

    <form action="options" method="get" class="form inline">     

      <h2 class="heading-medium">Car or motorcycle licences</h2>
      <p>Download the declaration of voluntary surrender and send it to DVLA with your driving licence.</p>

      <div class="form-download">
      <p><a href="https://www.gov.uk/government/publications/declaration-of-voluntary-surrender" target="_new">Download ‘Declaration of voluntary surrender’</a></p>
      </div>

      <h2 class="heading-medium">Bus, coach or lorry licences</h2>
      <p>Download VOC99/CERT and send it to DVLA with your driving licence.</p>

      <div class="form-download">
      <p><a href="https://www.gov.uk/government/publications/vcert-online-confidential-medical-information" target="_new">Download ‘VOC99/CERT’</a></p>
      </div>

    </form>

  </div>
 
</div> 

<br/>

<div class="grid-row">
  <div class="column-full">
      <a href="javascript:window.history.go(-1);">Back</a>
  </div>
</div>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}