<!-- govuk_elements js -->
<script src="/public/javascripts/modernizr.custom.77028.js"></script>
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/myjava.js"></script>
<script src="/public/javascripts/common.js"></script>
<script src="/public/javascripts/selection-buttons.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/html-funcs.js"></script>
<script src="/public/javascripts/page-funcs.js"></script>