// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your page container, using the frontend toolkit grid layout.

// Content wraps the entire site content block, between the header and footer.
// See elements _layout.scss line 8.
#content {
  @include site-width-container;
  @include contain-floats;
  display: block;
  padding-bottom: $gutter;
  @include media(desktop) {
    padding-bottom: $gutter*3;
  }
}

// Here's an example heading
// See elements _typography.scss line 11.
#content h1 {
  @include bold-48();
  margin-top: $gutter-half;
  margin-bottom: $gutter;
  @include media(tablet) {
    margin-top: $gutter;
    margin-bottom: $gutter*2;
  }
}

// Set up the phase banner
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
  strong {
    text-transform: uppercase;
  }
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.

.button-secondary {
    @include button ($grey-3);
    font-family: "nta", Arial, sans-serif;
  color: black;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
  }

.dwp-permission-group {
background-color: #D5E8F3;
padding: 19px;
//border-radius: 4px;
//border-width: 1px;
//border-color: #CBCBCB;
//border-style: solid;
margin: 0.5em 0 0 0;
}

.success-group {
background-color: #249285;
padding: 19px;
//border-radius: 4px;
//border-width: 1px;
//border-color: #CBCBCB;
//border-style: solid;
margin: 0.5em 0 0 0;
}

.form-control-noborders{
  font-family: "nta", Arial, sans-serif;
  font-size: 13px;
  line-height: 0.8;
  font-weight: 400;
  text-transform: none;
  width: 100%;
  //-webkit-box-sizing: border-box;
  //-moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  background-color: #fff;
  border: 2px solid blue;
  
  //-webkit-appearance: none;
  border-radius: 0; }
  @media (max-width: 640px) {
    .form-control-dropdown {
      font-size: 13px;
      line-height: 0.8; } }
  @media (min-width: 641px) {
    .form-control-dropdown {
      width: 50%; } }

      .column-full {
  padding: 0 15px;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .column-full {
      float: left;
      width: 100%; } }

     .column-eighth {
  padding: 0 15px;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .column-eighth  {
      float: left;
      width: 8%; } }

.starthidden {
    display: none;
  
  }


 

    .form-control-9-10 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-9-10 {
      width: 100%; } }


  .double {
  zoom:2;
  transform:scale(2);
  -ms-transform:scale(2);
  -webkit-transform:scale(2);
  -o-transform:scale(2);
  -moz-transform:scale(2);
  transform-origin:0 0;
  -ms-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  -o-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -webkit-transform-origin:0 0;
}


 


