{{<layout}}

{{$pageTitle}}Who did you last see?{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="form-group">

		<h1 class="heading-medium">Who did you last see for your diabetes care?</h1>

		<fieldset>
			<label class="block-label" for="radio-1">
				<input id="radio-1" type="radio" name="radio-group" value="consultant">
				Consultant
			</label>
			<label class="block-label" for="radio-2">
				<input id="radio-2" type="radio" name="radio-group" value="gp">
				GP
			</label>
			<label class="block-label" for="radio-3">
				<input id="radio-3" type="radio" name="radio-group" value="hospital-nurse">
				Nurse Specialist at hospital clinic
			</label>
			<label class="block-label" for="radio-4">
				<input id="radio-4" type="radio" name="radio-group" value="gp-nurse">
				GP Nurse
			</label>
		</fieldset>

	</div>

	<a class="button" href="care-name">Save and continue</a>

</main>

{{/content}}

{{/layout}}