{{<layout}}

{{$pageTitle}}Which vehicles{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">

		<div class="column-two-thirds">

			<div class="form-group">

				<h1 class="heading-medium">Which of your vehicles have been modified as a result of your medical condition?</h1>
				<span class="form-hint">Select all options that are relevant to you</span>

				<fieldset>
					<label class="block-label" for="checkbox-1">
						<input id="checkbox-1" type="checkbox" name="checkbox-group" value="car">
						Car
					</label>
					<label class="block-label" for="checkbox-2">
						<input id="checkbox-2" type="checkbox" name="checkbox-group" value="motorcycle">
						Motorcycle
					</label>
					<label class="block-label" for="checkbox-3">
						<input id="checkbox-3" type="checkbox" name="checkbox-group" value="moped">
						Moped or trike
					</label>
				</fieldset>

			</div>
		</div>
		<div class="column-third">
    		&nbsp;
    	</div>
    </div>

	<a class="button" href="vehicle-car">Save and continue</a>

</main>

{{/content}}

{{/layout}}