{{<layout}}

{{$pageTitle}}Your Driving Licence number{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="form-group">
		<label class="form-label" for="driving-licence-number">
	    	<h1 class="heading-medium">What is your Driving Licence number?</h1>
		</label>
		<input class="form-control" id="driving-licence-number" type="text">
		<span class="form-hint">Example: MORGA753116SM9IJ</span>

		<div><details>
		<summary role="button" aria-controls="details-content" tabindex="0" aria-expanded="true">
		<span class="summary">I don’t know my driving licence number</span>
		</summary>
		<div class="panel-indent" id="details-content" aria-hidden="false" style="display:block;">
			<p>Your driving licence number can be found in section 5 of your driving licence photocard.</p>
			<p><a href="/your-title">I don't have my driving licence</a></p>
		</div>
		</details></div>

	</div>

	<a class="button" href="/your-full-name">Save and continue</a>

</main>

{{/content}}

{{/layout}}