{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}


<main id="page-container" role="main">
  

  
<div class="column-full"> Driving and transport > Driving with a disability or a health condition > Notify DVLA of a medical condition </div>



 <div class="grid-row">
    <div class="column-two-thirds">
      <br>
      <br>
      <p><h1 class="heading-xlarge">Notify DVLA of a medical condition</h1></p>
      <br>
      <h1 class="heading-small">Telling DVLA about a medical condition or disability</h1>
    <p>You must tell <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> if you have a driving licence and: </p>


<li>you develop a ‘notifiable’ medical condition or disability </li>
  <li>a condition or disability has got worse since you got your licence</li>
<p></p>
<p>They include:</p>

<li>diabetes</li>
  <li>epilepsy</li>
  <li>strokes and other neurological conditions</li>
  <li>mental ill health conditions </li>
  <li>visual impairments</li>
  <p></p>
<p><h1 class="heading-small">Failure to tell us of a relevant condition could compromise road safety, 
endanger life and invalidate your insurance </h1></p>

<h3 class="heading-medium">Please Note</h3>

<p><h1 class="heading-small">

DVLA only revoke 10% of driving licences through this process. The remainder are allowed to 

retain their current licence or are issued a short period licence subject to medical review on 

renewal.</h1></p>

</div>
   <div class="column-third">
      <br>
     <p style="font-weight:bold;"><a href="https://www.gov.uk/change-address-driving-licence" class="toggle">Change the address on your driving licence</a></p>
     <p style="font-weight:bold;"><a href="https://www.gov.uk/driving-licence-categories" class="toggle">Driving licence categories</a></p>
     <p style="font-weight:bold;"><a href="https://www.gov.uk/driving-licence-codes" class="toggle">Driving licence codes</a></p>
    
   </div>
</div>

<div class="grid-row">
  <hr>

    <div class="column-half">
      <p><br></p>
      
      <a href="Verify" class="button button-get-started" role="button">Start</a>



    </div>
    <div class="column-half">
      <h3 class="heading-medium">You'll need</h3>
      <li>your driving licence number</li>
      <li>your National Insurance number</li>
      <li>the postcode on your driving licence</li>
    </div>
  </div>




<div class="grid-row">
  <hr>

    <div class="column-half">
      <h3 class="heading-medium">Other ways to apply</h3>
      



    </div>

    <div class="column-half">
      <h3 class="heading-medium">By post</h3>
      <p>To see what information the DVLA holds on your driving licence you can either send a request form or a letter with the following information to the DVLA:</P>
      <li>your full name and address</li>
      <li>your driver licence number (or your date of birth if you don’t know your driver number)</li>
      <p>You must include a cheque or postal order for £5 payable to ‘DVLA, Swansea’.</P>
        <br>
        <p>Send your request to:</p>
        <h4 class="heading-small">Driver Licence Validation Service<BR>
DVRE 5<BR>
DVLA<BR>
Swansea<BR>
SA99 1AJ</h4><br>
It’s a criminal offence to obtain someone else’s personal information without their permission.
    </div>
 

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
