{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header>




</header>


<main id="page-container" role="main">

  
 <div class="grid-row">
   <div class="column-full">

    <h1 class="form-title heading-medium">
     Have you had laser treatment or injections into both eyes (or remaining eye) for Diabetic eye disease or other eye condition? {{ROUTECHOICE}}

    </h1>
     <span class="form-hint">Do not include corrective surgery for short sightedness.</span>
     
 <form action="specialcarcheck" method="get" class="form inline">     
 
<div class="form-group">
  <label class="block-label" for="radio-3">
    <input id="radio-3" type="radio" name="eye1" value="sad" >
    Yes
  </label>
  <label class="block-label" for="radio-4">
    <input id="radio-4" type="radio" name="eye1" value="{{ROUTECHOICE}}" >
    No
  </label>
  <div class="grid-row"> <br> </div>
  <div class="grid-row"> <br> </div>


   
      <button type="submit" id="continue" class="button" >
        Continue
    </button>
    
    </form>  
    
      <ul>
    
       
        <li><a href="/">Back</a></li>
      </ul>
    </div>

    

    


</form>

</main>


{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}