{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

<script>

  function Verify() {
    document.location.href = 'Notify_2.html';
  }

  function SignIn() {
    document.location.href = 'Signin.html';
  }

</script>

</header>

<main id="page-container" role="main">

<h1 class="form-title heading-medium">
      Verify Your Identity
</h1> 

<form id="form1" action="2COA_2" method="get" class="form">
   
   <div class="form-group border-bottom">
      <label class="form-label" for="drivernumber">
        Before you review your medical conditions you need to verify your identity
      </label>
      <br/>
      <b>Is this your first time verifying your identity?</b>
    </div>


    <div class="grid-row"> </div>

    <p class ="validation-message" id="postcodeerror"> </p>
  
    <p class="fields"><input name="signin" type="button" class="button" value="Yes (Verify)" onclick="Verify()"/>

    <input name="signin" type="button" class="button" value="No (Sign In)" onclick="SignIn()"/></p>
    
  </form>  
    
  <b>You can't use Government Gateway with this service</b>
  <br/><br/>

  <ul>
    <li><a href="javascript:window.history.go(-1);">Back</a></li>
  </ul>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
