{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation_alpha}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header>
 <link href="/public/stylesheets/verify_template.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/public/stylesheets/verify_print.css" media="print" rel="stylesheet" type="text/css">
    <link href="/public/stylesheets/verify_fonts.css" media="all" rel="stylesheet" type="text/css">
    <link href="/public/stylesheets/elements.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/verify_application.css" media="screen" rel="stylesheet" type="text/css">


<script>
  function nextscreen() { 

    window.location.href ="Verify_2.html";

  }
 </script>

</header>

<main id="page-container" role="main">
<div class="column-two-thirds">
<div class="grid-row"> Home > Driving and transport > Driving licences </div>
</div>

 <div class="grid-row">
    <div class="column-two-thirds">
      <br>
      <br>
      <p><h1 class="heading-xlarge">Change the address on your driving licence</h1></p>
      <br>
      
      <p>Change the address on your driving licence for free</p>

<p>You can’t use this service:</p>

<p><li>if your licence was issued in Northern Ireland
<li>to check the progress of a licence application</li></p>

<div class="panel-indent" id="supquest">
     
      <p>You can drive while waiting for your new licence</p>
    </div>

</div>
   <div class="column-third">
      <br>
     <p style="font-weight:bold;"><a href="#" class="toggle">View your driving licence</a></p>
     <p style="font-weight:bold;"><a href="#" class="toggle">Driving licence categories</a></p>
     <p style="font-weight:bold;"><a href="#" class="toggle">Driving licence codes</a></p>
    
   </div>
</div>

<div class="grid-row">
  <hr>

    <div class="column-half">
      <div class="connected">

      <h2 class="verify-heading">
        <img src="/public/images/verify-logo-inline.png" class="verify-logo"><strong>GOV.UK</strong><br>Verify
      </h2>

      <p>This service uses GOV.UK Verify to check your identity.</p>
      

      </div>
      <p><br></p>
<!-- THE VERIFY PROCESS BUTTON -->
      <!-- <a href="/Verify/Verify_2?auth=/COA_2/2COA_1.html&requestId=dvla" class="button" role="button">View now</a> -->

      <!-- START BUTTON -->
      <!-- <a href="Verify_2" class="button button-get-started" role="button">Start&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> -->

       <!-- <a href="Verify_2" class="button" role="button">View now</a> -->
       <input type="button"  class="button button-get-started" Value="Start now     " onClick="nextscreen()"/>



    </div>
    <div class="column-half">
      <h3 class="heading-medium">You'll need</h3>
      <li>your driving licence number</li>
      <li>your National Insurance number</li>
      <li>the postcode on your driving licence</li>
    </div>
  </div>




<div class="grid-row">
  <hr>

    <div class="column-half">
      <h3 class="heading-medium">Other ways to apply</h3>
      



    </div>

    <div class="column-half">
      <h3 class="heading-medium">By post</h3>
      <p>To see what information the DVLA holds on your driving licence you can either send a request form or a letter with the following information to the DVLA:</P>
      <li>your full name and address</li>
      <li>your driver licence number (or your date of birth if you don’t know your driver number)</li>
      <p>You must include a cheque or postal order for £5 payable to ‘DVLA, Swansea’.</P>
        <br>
        <p>Send your request to:</p>
        <h4 class="heading-small">Driver Licence Validation Service<BR>
DVRE 5<BR>
DVLA<BR>
Swansea<BR>
SA99 1AJ</h4><br>
It’s a criminal offence to obtain someone else’s personal information without their permission.
    </div>
 

<!-- <section class="help-and-related-links"><section class="help" aria-labelledby="help-label"><h1 id="help-label">Help with driving licences</h1>
        <ul>
<li>
            <a href="https://www.gov.uk/contact-the-dvla">Contact DVLA for questions about driving licences</a>
          </li>
        </ul></section><section class="related-links" aria-labelledby="related-links-label"><h1 id="related-links-label">Driving licences</h1>
        <ul>
<li><a href="https://www.gov.uk/change-address-driving-licence">Change the address on your driving licence</a></li>
          <li><a href="https://www.gov.uk/driving-licence-categories">Driving licence categories</a></li>
          <li><a href="https://www.gov.uk/driving-licence-codes">Driving licence codes</a></li>
        </ul></section></section> -->
</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
