{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation_alpha}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header class="page-header">



  

<script>
  function shownext() { 
    form2.style.display = "block";

  }
</script>

<script>
  function shownext2() { 
    form3.style.display = "block";

  }
</script>

<script>
  function shownext3() { 
    form4.style.display = "block";

  }
</script>

<script>
  function nextscreen() { 

    window.location.href ="2COA_1_finished.html";

  }
  
  </script>
</header>


<main id="page-container" role="main">

 <p></P>
  

        <div class="success-group">
       
     <div class ="grid-row">     
      <div class="column-third"> 
 
      <br>  
      </div> 
      <div class="column-two-thirds"> 
          <p class="finishheading" >
          <img id="google1_01"  class="finishtick" src="../public/images/tick_white.png" width="48" height="48" alt="a tick" /> Thank You
          </p>  
      </div>

  <div class="grid-row">
        <p class="heading-small" style="color: white; text-align: center;">
         Your change of address has been processed
        </p> 
      </div>

     </div>       
        </div>

 





</div>
<div class="grid-row">
<div class="column-full">
  <br>
<hr>
<p class="heading-medium">

      What happens next for you?
    </p>  

     <ul class="list-bullet">
    <li>your driving licence record will be updated
</li>
    <li>a licence will be printed and you should receive it in the post within the next seven days

    
  </ul>
</div>
</div>

</main>




{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
