


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Google search</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script>
function Submiten() { 
 
    window.location.href ="google2.html";
   
 }
</script>

</head>
<body bgcolor="#FFFFFF">
<!-- Save for Web Slices (Untitled-1) -->
<table id="Table_01" width="1440" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="5">
			<img id="google1_01" src="../public/images/google1_01.png" width="1440" height="313" alt="" /></td>
	</tr>
	<tr>
		<td rowspan="4">
			<img id="google1_02" src="../public/images/google1_02.png" width="436" height="470" alt="" /></td>
		<td colspan="3" height="27">



			<input type="text" style="border: 2px solid #3462ed; width: 540px; height: 27px; font-size: 19px;" id="search" name="search" onKeyDown="if (event.keyCode == 13) Submiten()">
			</td>



		<td rowspan="4">
			<img id="google1_04" src="../public/images/google1_04.png" width="458" height="470" alt="" /></td>
	</tr>
	<tr>
		<td colspan="3">
			<img id="google1_05" src="../public/images/google1_05.png" width="546" height="15" alt="" /></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img id="google1_06" src="../public/images/google1_06.png" width="171" height="428" alt="" /></td>
		<td>
			<img id="google1_07" src="../public/images/google1_07.png" width="100" height="33" alt="" /></td>
		<td rowspan="2">
			<img id="google1_08" src="../public/images/google1_08.png" width="275" height="428" alt="" /></td>
	</tr>
	<tr>
		<td>
			<img id="google1_09" src="../public/images/google1_09.png" width="100" height="395" alt="" /></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>


