{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation_alpha}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header class="page-header">

 
  

<script>
  function shownext() { 
    form2.style.display = "block";
    manual.style.display = "none";
    document.getElementById('addressdropdown').focus()

  }
</script>

<script>
  function shownext2() { 
    var postcodeV = document.getElementById('postcode').value;

    var addressall = document.getElementById('addressdropdown').value;


  var addressalllist = addressall.split(",");
    form3.style.display = "block";
     document.getElementById("line1").innerHTML = addressalllist[0];
     document.getElementById("line2").innerHTML = addressalllist[1];
     document.getElementById("line3").innerHTML = addressalllist[2];
     document.getElementById("line4").innerHTML = postcodeV;
     // document.getElementById("line1").innerHTML = addressalllist[0];
    form2.style.display = "none";
    document.getElementById("confbutton").disabled = false; 

  }
</script>

<script>
  function shownext3() { 
    form4.style.display = "block";

  }
</script>

<script>
   function reset() { 

    window.location.href ="Postcodeonly.html";

  }
  
</script>

  <script>
  function nextscreen() { 

    window.location.href ="Confirmation.html";

  }
 </script>

  <script>
  function showsupp() { 
    supinfo.style.display = "block";
    supquest.style.display = "none";
    document.getElementById('supinfofield').focus()
    document.getElementById("confbutton").disabled = true;

  }
</script>

<script>
  function supenter() { 
    var s1 = document.getElementById("supinfofield").value;
    supinfo.style.display = "none";

    document.getElementById("flat1").innerHTML = s1;
    flat1.style.display = "block";

    document.getElementById("confbutton").disabled = false;
    document.getElementById('confbutton').focus();
     

  }
</script>


</header>



<main id="page-container" role="main">

<p class="heading-medium">
      Your address
    </p> 
<div class="dwp-permission-group column-two-thirds">
     <span class="heading-medium">Ms SARAH MEREDITH MORGAN</span>

<div class="grid-row">

        <div class="column-full"> 
          <dd class="bold-small">122 Burns Crescent EDINBURGH  <span class="postcode">EH1 9GP</span>
      

        
      
    </dl>
</div>    
  </div>
</div>
  <div class=" grid-row column-two-thirds">
  <p class="heading-medium">
      Tell us your new address
    </p> 
</div>
  <div class="form-group">
       <label class="form-label" >
        Postcode</label>
        <span class="form-hint">For example, 'SA58ET'</span>
        
           <input type="text" class="form-control"  id="postcode" name="postcode" onKeyDown="if (event.keyCode == 13) shownext()">


          <input name="Findaddress" type="button" class="button-secondary" value="Find UK address" onclick="shownext()">
          
        <div id="manual">
    
            <p><a href="2COA_manual" class="toggle">
                Enter address manually
            </a></P>
        </div>
       <!-- </form> -->
   
  





<div class="grid-row "><br> </div>



 <!-- <form id="form2" class="form starthidden"> -->
   
    <div class="form-group starthidden" id="form2">
       <label class="form-label" for="select">
        Select an address</label>
        
           <!-- <input type="drop-down" class="form-control" list=conditions id="drivernumber" name="housenum" > -->
           <select class="form-control searchBox" id="addressdropdown" onchange="shownext2()">
  <option value="Select closest Address...">Choose closest address...</option>
  <option value="6 Grace Street, Broadacre, Wolverhampton">6 Grace Street, Broadacre, Wolverhampton</option>
  <option value="7 Grace Street, Broadacre, Wolverhampton">7 Grace Street, Broadacre, Wolverhampton</option>
  <option value="8 Grace Street, Broadacre, Wolverhampton">8 Grace Street, Broadacre, Wolverhampton</option>
  <option value="9 Grace Street, Broadacre, Wolverhampton">9 Grace Street, Broadacre, Wolverhampton</option>
  <option value="10 Grace Street, Broadacre, Wolverhampton">10 Grace Street, Broadacre, Wolverhampton</option>
  <option value="11 Grace Street, Broadacre, Wolverhampton">11 Grace Street, Broadacre, Wolverhampton</option>
  <option value="12 Grace Street, Broadacre, Wolverhampton">12 Grace Street, Broadacre, Wolverhampton</option>
  <option value="Hair by Grace, Grace Street, Broadacre, Wolverhampton">Hair by Grace, Grace Street, Broadacre, Wolverhampton</option>
  <option value="14 Grace Street, Broadacre, Wolverhampton">14 Grace Street, Broadacre, Wolverhampton</option>
  <option value="15 Grace Street, Broadacre, Wolverhampton">15 Grace Street, Broadacre, Wolverhampton</option>
  <option value="Flat 1, 16 Grace Street, Broadacre, Wolverhampton">Flat 1, 16 Grace Street, Broadacre, Wolverhampton</option>
  <option value="Flat 2, 16 Grace Street, Broadacre, Wolverhampton">Flat 2, 16 Grace Street, Broadacre, Wolverhampton</option>

</select>
           

 
          
        <!-- </form> -->
      </div>
       

 <div class="grid-row "></div>


<div  class="grid-row starthidden" id="form3">
  <div class="column-full">

<div class="form-label" for="select">
        Your new address</div>
    <div class="validation-wrapper starthidden" id="supinfo">
      <!-- <form id="suppform"> -->
      Supplementary information
      <span class="form-hint">For example, flat number or house name.</span>
      <input type="text" class="form-control" id="supinfofield"  onKeyUp="if (event.keyCode == 13) supenter()"> <input name="Addaddress" type="button" class="button-secondary" value="Add line" onclick="supenter()">
     <!--  </form> -->
    </div>

    <div class="lede starthidden" id ="flat1">
      Flat1<br></div>

    <div class="lede">
      <p><span id="line1">14 Grace Street</span><br>
      <span id="line2">Broadacre</span><br>
      <span id="line3">Wolverhampton</span><br>
      <span id="line4">WV1 9EA</span></p>
    </div>

    <div class="panel-indent" id="supquest">
      <a class="link" style="cursor:pointer;" onclick="showsupp();">
      Add a line to the address
      <br>
      For example, a flat number or house name etc.
    </div>
    </div>
  </div>



 <div class="grid-row">
    <div class="column-full">
     <!--  <form id="form4" class="form"> -->
      <p><!-- <a href="Confirmation" id="confbuttonlink" class="button disabled " >Confirm</a>  --><input id="confbutton" type="button" class="button"value="Confirm" onclick="nextscreen()" disabled/> <input id="cancbutton" type="button" class="button-secondary"value="Cancel" onclick="reset()" /></P>

      <ul>
        <li><a href="2COA_1">Back</a></li>
      </ul> 
      <!-- </form> -->
    </div>
  </div>
<!--  </form> -->
       
</main>    
    
 <!--  <div  id="supquest">

      <input name="Supplementaryinformation" type="button" class="button-secondary" value="Add supplementary information" onclick="showsupp(); return false;">



         <span class="form-hint">
          Adds an extra line to the address for a flat number or house name etc.
          
        </span>
  </div> -->    






{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
