{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">





    <h1 class="form-title heading-medium">
      Confirm your new address
    </h1>

 
<form action="COA_4" method="NULL" class="form">
      <label class="form-label" for="Adress">
        Address
        <span class="form-hint">
          Amend address if needed and Confirm
          
        </span>
      </label>
      <div class="validation-wrapper">
      <p><input type="text" class="form-control" id="Address1" value="222 Middle Road"></p>
      <p><input type="text" class="form-control" id="Address2" value="Cwmdu"></p>
      <p><input type="text" class="form-control" id="Address3" ></p>
      <p><input type="text" class="form-control" id="City" value="SWANSEA"></p>
      <p><input type="text" class="form-control" id="PCODE" value="SA58EY"></p>
    </div>

    
    </fieldset>
</div>
    <!-- <div class="validation-message visible"><a href="https://www.registertovote.service.gov.uk/register-to-vote/address/manual#address_manualAddress_lineOne">Please answer this question</a></div> --><!-- <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="addressManual">
        Continue_validate
    </button>  -->






    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <p><a href="2COA_1_finished" class="button" >Confirm</a></P>
        
    
    
   
    
      <ul>
      
        <li><a href="/">Back</a></li>
      </ul>
    </div>

    

    


</form>



</main>


{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}