{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header>


  <script src="/public/javascripts/myjava.js"></script>

<script type="text/javascript">

// var route;

// function FindAddress99() { 


    
//     if (route == 1) {

//     window.location.href = "Testsummary.html";

// } else if (route == 2){

//     window.location.href = "Testsummary2.html";
// }
//   }

// function oneclicked() {

// route = 1;

// }

// function twoclicked() {

// route = 2;

// }

</script>

</header>
<main id="page-container" role="main">
<body>
<!-- I put this in elements_scripts.html... should work. -->
<script src="/public/javascripts/myjava.js"></script>


    <h1 class="form-title heading-medium">
      PAGE 3 {{ROUTECHOICE}} Click on the radio buttons and confirm to go to different pages
    </h1>
         
      </label>
 <form method="get" action="HOUSE" class="form">

  <div class="form-group">
    <fieldset>
 
    <label for="address_uprn">
      <span class="visuallyhidden"></span>
    The buttons:
    </label>
</fieldset>
<label class="block-label" for="radio-1">
    <input id="radio-1" type="radio" name="HOUSE" value={{ROUTECHOICE}} onclick="oneclicked()" >
    Route 1 
  </label>
  <label class="block-label" for="radio-2">
    <input id="radio-2" type="radio" name="HOUSE" value="route2"  onclick="twoclicked()" >
    Route 2
  </label>


              



    <!-- Primary buttons, secondary links -->
    <div class="form-group">
    <input type="submit" class="button" value="Continue FORM">
      <!-- <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="radio-1 radio-2"  value="Continue FORM"> -->

        <p class="fields"><input name="Findaddress1" type="button" class="button" value="Continue JAVA" onclick="FindAddress99()">
        
    </button>
    
    </form>  
    
     
       
        <li><a href="/">Back</a></li>
      </ul>
    </div>

    

    


</form>

</main>
</body>

{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}