{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header class="page-header">

</header>


<main id="page-container" role="main">

<h1 class="form-title heading-medium">
      THIS IS THE PAGE TITLE
    </h1> 



 <form id="form1"  class="form">
   
    <div class="form-group border-bottom starthidden" id="q1_div">
       <label class="form-label" for="q1" id ="q1">
        Medical condition</label>
        <span class="form-hint" id="q1_hint">For example, Diabetes</span>
        
           <input type="text" class="form-control" list=conditions id="q1_a1" name="housenum" >
           <datalist id=conditions >
<option>  Acoustic neuroma</option>
<option>  Marfan syndrome
<option>  Medulloblastoma
<option>  Memory problems (severe)
<option>  Meningioma
<option>  Mini-stroke
<option>  Monocular vision
<option>  Motor neurone disease
<option>  Multiple sclerosis
<option>  Myasthenia gravis
<option>  Myocardial infarction
<option>  Myoclonus
<option>  Narcolepsy
<option>  Night blindness
<option>  Nystagmus
<option>  Obsessive compulsive disorder
<option>  Obstructive sleep apnoea syndrome
<option>  Optic atrophy
<option>  Optic neuritis
<option>  Pacemakers
<option>  Palpitations
<option>  Paranoia
<option>  Paranoid schizophrenia
<option>  Paraplegia
<option>  Parkinson’s disease
<option>  Peripheral arterial disease
<option>  Peripheral neuropathy
<option>  Personality disorder
<option>  Petit mal seizures
<option>  Pituitary tumour
<option>  Post traumatic stress disorder (PTSD)
<option>  Psychosis
<option>  Psychotic depression
<option>  Renal dialysis
<option>  Retinal treatment
<option>  Retinopathy
<option>  Schizo-affective disorder
<option>  Schizophrenia
<option>  Scotoma
<option>  Seizures
<option>  Sight in one eye only
<option>  Sleep apnoea
<option>  Sleepiness (excessive daytime)
<option>  Spinal problems and injuries and driving
<option>  Stroke
<option>  Subarachnoid haemorrhage
<option>  Syncope
</datalist>

<input name="Findaddress" type="button" class="button-secondary" value="+ Add another condition" onclick="shownext()">
          
        
      </div>
       </div>

       <div class="grid-row starthidden" id="q2_div">
    <div class="column-full">

      <h4 class="heading-medium" id ="q2">Do you know what the symptoms of hypoglycaemia are? </h4>

      <span class="form-hint" id ="q2_hint">e.g. sweating, shakiness, hungry, palpitations, tingling lips</span>
      
<div class="form-group">
  <label class="block-label" for="q2_a1" id="q2_a1_label">
    <input id="q2_a1" type="radio" name="q2_a" onclick="answer(this)" value="Y">
    Yes
  </label>
  <label class="block-label" for="q2_a2" id="q2_a2_label">
    <input id="q2_a2" type="radio" name="q2_a"  onclick="answer(this)" value="N">
    No
  </label>

</div>
</div>

</div>



<div class="grid-row border-bottom starthidden" id="q3_div">
  
   <div class="column-full">

    
     <h4 class="heading-medium" id ="q3">Your vehicle's special controls </h4>


 <fieldset>
    
    

    <label class="block-label" for="checkbox-1">
      <input id="q3_a1" type="checkbox" name="q3_a" value="car" onclick="answer(this)">
      Car, bus or lorry
    </label>
    <label class="block-label" for="checkbox-2">
      <input id="q3_a2" type="checkbox" name="q3_a" value="motorcyle" onclick="answer(this)">
      Motorcycle 
    </label>
    <label class="block-label" for="checkbox-3">
      <input id="q3_a3" type="checkbox" name="q3_a" value="trike" onclick="answer(this)">
     Moped or trike
    </label>
  </fieldset>
</div>
</div>

<p></P>
<div class="grid-row starthidden" id="q4_div">
<div class="column-full">
<div class="form-group">
       <label class="form-title heading-medium" for="postcode" id="q4">
        The date of your first seizure whilst awake  </label><span class="form-hint" id ="q4_hint">
          For example, '02/04/2014'
           </span>
           <input type="Date" class="form-control-3-4" id="q4_a" name="q4_a">
          <br>
      </label>
    </div>
  </div>
</div>


<div class="grid-row starthidden" id="q5_div">

   <h1 class="heading-medium" for="Adress" id="q5_div"> Address </h1>
        <span class="form-hint" id="q5_hint">
          Amend address if needed and Confirm
          
        </span>
      </label>
      <div class="validation-wrapper">
        <p><input type="text" class="form-control" id="q5_a1" value="Dr Gregory House"></p>
      <p><input type="text" class="form-control" id="q5_a2" value="Diabetes Clinic"></p>
      <p><input type="text" class="form-control" id="q5_a3" value="Morriston Hospital"></p>
      <p><input type="text" class="form-control" id="q5_a4" value="Heol Maes Eglwys" ></p>
      <p><input type="text" class="form-control" id="q5_a5" value="SWANSEA"></p>
      <p><input type="text" class="form-control" id="q5_a6" value="SA6 6NL"></p>
    </div>



<div class="grid-row">
<div class="column-full">
        <div class="dwp-permission-group starthidden" id = "q6_div">
            <label><input type="checkbox" id="permission" name="dwpPermission" value="1" onclick="answer(this)">
                <span class="heading-small" id ="q6">Important information about Consent</span>

<p class="heading-small" id ="q6_p1">Please read the following information carefully and tick the consent box</P>



<p id ="q6_p2">We need your consent to request the release of medical reports from your doctors as we may ask for further </p>


            </label>
        </div>
    </div>
</div>
</div>


<p><br></p>

</form>
<div class="grid-row">
<div class="column-full">
<button type="submit" id="continue" class="button" >
        Continue
    </button>
</div>
</div>


<script>
initialise();
</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}
