{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

<script>

function next() {
  window.location.href = 'medical-conditions';
}

</script>

</header>

<main id="page-container" role="main">

  <!--h1 class="form-title heading-medium">&nbsp;</h1-->
  <br/><br/>

  <form id="medical-form" action="medical-conditions" class="form">
   
    <div class="form-group">
      <label class="form-title heading-medium" for="drivernum">
        Your driving licence number
      </label>
      
      <span class="form-hint">
        For example, 'MORGA753116SM9IJ'
      </span>
      
      <input type="text" maxlength="16" class="form-control" id="drivernumber" />
      <br/>
    </div>

    <details>
      <summary>
        <span class="summary">Where to find your driving licence number</span>
      </summary>

      <div class="panel-indent">
        <p>Your driving licence number can be found in section 5 of your driving licence photocard</p>
        <img id="whatLicenceImg" src="/public/images/driving_licence.png" alt="">
      </div>    
    </details>

    <p></p>

    <a href="your-details-nodrivernumber">I don't know my driving licence number</a>

    <div class="grid-row">
      <div class="column-full">
        <br/>
        <input type="button" id="continue" class="button" name="continue" value="Confirm" onclick="next();">
    
        <br/><br/>
        <a href="javascript:history.go(-1);">Back</a>

      </div>
    </div>

  </form>  
    
</main>


{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}
