
{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
    
  <h2 class="heading-medium process-step">
    Step X of X
  </h2>
  
  <h1 class="heading-xlarge">
    Your eyesight
  </h1>
  
  <form action="medical-form" method="get" class="form">
    
    <div class="grid-row" id="qx" style="display: block;">
      <div class="column-two-thirds">
        <h4 class="heading-medium">Can you meet this legal eyesight standard for driving?</h4>
        <details>
          <summary><span class="summary">More about the legal standard for driving</span></summary>
          <div class="panel-indent">
            <h2 class="heading-small">The legal eyesight standard means that:</h2>
            <ul class="list-bullet text">
              <li>you must be able to read a car number plate from 20 metres</li>
              <li>you must not have been told by a doctor or optician that your eyesight is currently worse than 6/12 (decimal 0.5) on the Snellen scale</li>
            </ul>
            <img src="/public/images/icons/read-number-plate-diagram.png" class="visionTestIcon" />
            <img class="visionTestIcon" src="/public/images/icons/snellen-scale-diagram.png" />  
            <p>If you are in any doubt, you should discuss with your optician or doctor. If required, you may wear glasses or corrective lenses to meet both of these standards.</p>
          </div>
        </details>
        <div class="form-group">
          <label class="block-label" for="qx-a1" id="qx-a1-label">
            <input id="qx-a1" type="radio" name="qx-answer" value="0" onclick="answer(this,'{{flow}}','{{conditions}}')">
            Yes
          </label>
          <label class="block-label" for="qx-a2" id="qx-a2-label">
            <input id="qx-a2" type="radio" name="qx-answer" value="1" onclick="answer(this,'{{flow}}','{{conditions}}')">
            Yes, with glasses or corrective lenses
          </label>
          <label class="block-label" for="qx-a3" id="qx-a3-label">
            <input id="qx-a3" type="radio" name="qx-answer" value="2" onclick="answer(this,'{{flow}}','{{conditions}}')">
            No
          </label>
        </div>
      </div>
      <div class="column-one-third">
      </div>
    </div>
  

    </div>
    
    <div class="form-group">
      <input id="continue" name="continue" type="button" class="button" value="Continue" onclick="decision(this,'{{flow}}','{{conditions}}')" disabled="true"> 
    </div>
    
    <ul>
      <li><a href="javascript:history.go(-1);">Back</a></li>
    </ul>
    
  </form>
  
 </main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}