{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header>

<script>

function next() {

}

</script>

</header>

<main id="page-container" role="main">

  <h2 class="heading-medium process-step">
    Step X of X
  </h2>

  <h1 class="heading-xlarge">
    Special controls
  </h1>
         
  <p class="form-hint">Please select all the modifications that you have</p>

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="special-controls">
      
      <h2 class="heading-medium">Car</h2>

      <div class="special-controls-questions">

        <label class="block-label" for="car-1">
          <input id="car-1" type="checkbox" value="car-1">
          Combined braking and accelerator system
        </label>

        <label class="block-label" for="car-2">
          <input id="car-2" type="checkbox" value="car-2">
          Accelerator system
        </label>

        <label class="block-label" for="car-3">
          <input id="car-3" type="checkbox" value="car-3">
          Rear view mirror
        </label>

      </div>

    </div>

  </div>
  </div>



  <form action="D497check" method="get" class="form inline">     


    <div class="form-group">
      <input id="continue" type="button" class="button" value="Save and continue" onclick="next();"/> 
    </div>

    <ul>
      <li><a href="javascript:history.go(-1);">Back</a></li>
    </ul>

  </form>

</main>


{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}