
{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header class="page-header">

<script>
  function FindAddress2() { 

// var postcodeV = document.forms["form1"]["postcode"].value;

// if (postcodeV ==""){
// document.getElementById("postcodeerror").innerHTML = "Please complete all the fields";
// }
// else{


    window.location.href ="hypoglycaemia.html";
  // }
  
  }
  //document.getElementById("MyElement").className = "MyClass";
  </script>

<script>
  function shownext() { 
    question3.style.display = "block";

  }
</script>

<script>
  function hidenext() { 
    question3.style.display = "none";

  }
</script>

<script>
  function shownext2() { 
    question4.style.display = "block";

  }
</script>

<script>
  function hidenext2() { 
    question4.style.display = "none";

  }
</script>

<script>
  function shownext3() { 
    form4.style.display = "block";

  }
</script>

<script>
  function alcoholdate() { 
    alcoholdate1.style.display = "block";

  }
</script>

<script>
  function drugdate() { 
    drugdate1.style.display = "block";

  }
</script>

<script>
  function nextscreen() { 


    window.location.href ="summary.html";
  // }
  
  }
  //document.getElementById("MyElement").className = "MyClass";
  </script>
</header>



<main id="page-container" role="main">

      
   


<p><br></P>
<form>
 <div class="grid-row">
    <div class="column-full">
      <div class="form-group">
      <p class="heading-small">
      Have you had a seizure as a result of alcohol misuse? {{ROUTECHOICE}}
    </p> 
  <label class="block-label" for="radio-1">
    <input id="radio-1" type="radio" name="radio-group1" value="Yes" onclick="alcoholdate()">
    Yes
  </label>
  <label class="block-label" for="radio-2">
    <input id="radio-2" type="radio" name="radio-group1" value="No" >
    No
  </label>

</div>
</div>

</div>
  
</form>

<div class="grid-row starthidden" id="alcoholdate1">
<div class="column-full">
<div class="form-group">
       <label class="form-title heading-small" for="postcode">
        The date of your last seizure  </label><span class="form-hint">
          For example, '02/04/2014'
           </span>
           <input type="Date" class="form-control-1-4" id="housenum" name="housenum">
          <br>
      </label>
    </div>
  </div>
  </div>

  <form>
 <div class="grid-row">
    <div class="column-full">
      <div class="form-group">
      <p class="heading-small">
      Have you had a seizure as a result of drug misuse?
    </p> 
  <label class="block-label" for="radio-3">
    <input id="radio-3" type="radio" name="radio-group2" value="Yes" onclick="drugdate()">
    Yes
  </label>
  <label class="block-label" for="radio-4">
    <input id="radio-4" type="radio" name="radio-group2" value="No" >
    No
  </label>

</div>
</div>

</div>
  
</form>

<div class="grid-row starthidden" id="drugdate1">
<div class="column-full">
<div class="form-group">
       <label class="form-title heading-small" for="postcode">
        The date of your last seizure  </label><span class="form-hint">
          For example, '02/04/2014'
           </span>
           <input type="Date" class="form-control-1-4" id="housenum" name="housenum">
          <br>
      </label>
    </div>
  </div>
  </div>
    
  
 
<div class="grid-row"> 
  <div class="column-full">
<div class="form-group">
 
 
    
   <input name="Findaddress4" type="button" class="button" value="Continue" onclick="nextscreen()">  


<!-- </div> -->
</div>
</div>
</div>

<form action="{{next}}">

 <a class="back-to-previous" href="/drivers-details">
    <i class="fa fa-angle-left"></i>
    Back <span class="visuallyhidden"> to the previous question</span>
</a> 

</form>

 </main>

 {{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}

