{{<layout}}

{{$pageTitle}}
	GOV.UK Prototyping Kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<header class="page-header">
		<h1>DVLA Drivers - Fitness 2 Drive</h1>
	</header>

	<div id="content">

		<div class="inner-block">

			<h2 class="heading-large">Sprint 8: Single Questions</h2>
			<a href="/alpha/sprint-8/landing?verify=/verify/verify-2&auth=/alpha/sprint-7/">Verify ON</a> &middot;
			<a href="/alpha/sprint-8/landing?verify=&auth=">Verify OFF</a><br/>

			<h2 class="heading-large">Sprint 7: Visual Prototype</h2>
			<a href="/alpha/sprint-7/landing?verify=/verify/verify-2&auth=/alpha/sprint-7/">Verify ON</a> &middot;
			<a href="/alpha/sprint-7/landing?verify=&auth=">Verify OFF</a><br/>

			<h2 class="heading-large">Sprint 6: GDS Prototype</h2>
			<a href="/alpha/sprint-6/landing?verify=/verify/verify-2&auth=/alpha/sprint-6/">Verify ON</a> &middot;
			<a href="/alpha/sprint-6/landing?verify=&auth=">Verify OFF</a><br/>

			<h2 class="heading-medium">Sprint 5: Added Glaucoma</h2>
			<h2 class="heading-medium">Sprint 4: Added Diabetes</h2>
			<h2 class="heading-medium">Sprint 3: Added Flows</h2>
			
			<h2 class="heading-large">Resources</h2>
			<div>
			<a href="https://github.com/alphagov/govuk_prototype_kit/wiki">GOV.UK kit documentation</a><br/>
			<a href="http://govuk-elements.herokuapp.com/snippets/">Guide to GOV.UK elements HTML</a><br/>
			<a href="https://www.gov.uk/service-manual">Service design manual</a><br/>
			<a href="https://www.gov.uk/design-principles">Government Digital Service Design Principles</a><br/>
			</div>

		</div>

	</div>

</main>

{{/content}}

{{/layout}}
