{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}


<main id="page-container" role="main">
  

  
<div class="column-full"> Driving and transport > Driving with a disability or a health condition > Notify DVLA of a medical condition </div>



 <div class="grid-row">
    <div class="column-two-thirds">
      <br>
      <br>
      <p><h1 class="heading-xlarge">Notify DVLA of a medical condition</h1></p>
      <br>
      <h1 class="heading-small">Telling DVLA about a medical condition or disability</h1>
    <p>You must tell <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> if you have a driving licence and: </p>


<li>you develop a ‘notifiable’ medical condition or disability </li>
  <li>a condition or disability has got worse since you got your licence</li>
<p></p>
<p>Notifiable conditions are anything that could affect your ability to drive safely. They can include:</p>

<li>epilepsy</li>
  <li>strokes</li>
  <li>other neurological and mental health conditions</li>
  <li>physical disabilities </li>
  <li>visual impairments</li>
  <p></p>
<p><h1 class="heading-small">Please note, DVLA revoke very few driving licences through this process (x%) but failure to tell us of a condition could endanger your life or the lives of others and invalidate your insurance</h1></p>

</div>
   <div class="column-third">
      <br>
     <p style="font-weight:bold;"><a href="https://www.gov.uk/change-address-driving-licence" class="toggle">Change the address on your driving licence</a></p>
     <p style="font-weight:bold;"><a href="https://www.gov.uk/driving-licence-categories" class="toggle">Driving licence categories</a></p>
     <p style="font-weight:bold;"><a href="https://www.gov.uk/driving-licence-codes" class="toggle">Driving licence codes</a></p>
    
   </div>
</div>

<div class="grid-row">
  <hr>

    <div class="column-half">
      <p><br></p>
      
      <a href="Verify" class="button button-get-started" role="button">Start</a>



    </div>
    <div class="column-half">
      <h3 class="heading-medium">You'll need</h3>
      <li>your driving licence number</li>
      <li>your National Insurance number</li>
      <li>the postcode on your driving licence</li>
    </div>
  </div>




<div class="grid-row">
  <hr>

    <div class="column-half">
      <h3 class="heading-medium">Other ways to apply</h3>
      



    </div>

    <div class="column-half">
      <h3 class="heading-medium">By post</h3>
      <p>To see what information the DVLA holds on your driving licence you can either send a request form or a letter with the following information to the DVLA:</P>
      <li>your full name and address</li>
      <li>your driver licence number (or your date of birth if you don’t know your driver number)</li>
      <p>You must include a cheque or postal order for £5 payable to ‘DVLA, Swansea’.</P>
        <br>
        <p>Send your request to:</p>
        <h4 class="heading-small">Driver Licence Validation Service<BR>
DVRE 5<BR>
DVLA<BR>
Swansea<BR>
SA99 1AJ</h4><br>
It’s a criminal offence to obtain someone else’s personal information without their permission.
    </div>
 

<!-- <section class="help-and-related-links"><section class="help" aria-labelledby="help-label"><h1 id="help-label">Help with driving licences</h1>
        <ul>
<li>
            <a href="https://www.gov.uk/contact-the-dvla">Contact DVLA for questions about driving licences</a>
          </li>
        </ul></section><section class="related-links" aria-labelledby="related-links-label"><h1 id="related-links-label">Driving licences</h1>
        <ul>
<li><a href="https://www.gov.uk/change-address-driving-licence">Change the address on your driving licence</a></li>
          <li><a href="https://www.gov.uk/driving-licence-categories">Driving licence categories</a></li>
          <li><a href="https://www.gov.uk/driving-licence-codes">Driving licence codes</a></li>
        </ul></section></section> -->
</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
